autopep8==1.4.4
Click==7.0
Flask==1.1.1
geos==0.2.2
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
lxml==4.4.1
MarkupSafe==1.1.1
Pillow==9.0.1
pycodestyle==2.5.0
Shapely==1.6.4.post2
Werkzeug==0.15.6
