<!DOCTYPE html>
<html lang="en-us">

<head>
	<meta charset="UTF-8">
	<title>geoJSON Test</title>
	<meta name="viewport" content="width=device-width">

	<!-- Bootstrap/CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="assets/css/style.css"> -->

	<!-- JQuery js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<style>
		.navbar {
			margin-top: 30px;
			margin-bottom: 30px;
		}
	</style>

</head>

<body>
	<div class="container">

		<!-- Jumbotron -->
		<div class="navbar" style="background-color: rgb(42, 43, 97); color: white">
			<h3 class="text-center">geoJSON Polygon Intersect Test</h3>
		</div>

		<button class="btn btn-primary" style="background-color: rgb(42, 43, 97); color: white"
			id="submit">Submit</button>

	</div>

	<svg width="500" height="500">
		<polygon points="0,0 100,200  300,300 400,400" style="fill:lime;stroke:purple;stroke-width:1" />
	</svg>

	<!-- <script src="app.js" type="text/javascript"></script> -->
	<script type="text/javascript">

		$("#submit").on("click", function (event) {
			event.preventDefault();

			var queryURL = "http://localhost:3000/store"

			$.get({ url: queryURL, }).then(function (response) {
				console.log("Ajax GET ", JSON.stringify(response));
				// var results = response.data;
				// alert(results);
			});

		httpGetAsync('http://localhost:3000/store', response => console.log("httpGetAsync ", response))

			// var $new_instrument = $("#instrument_text").val().trim();
			// instruments.push($new_instrument);

			// $("#instrument_text").val("");

			// display_buttons();

		});

		function httpGetAsync(theUrl, callback) {
			var xmlHttp = new XMLHttpRequest();
			xmlHttp.onreadystatechange = function () {
				if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
					callback(xmlHttp.responseText);
			}
			xmlHttp.open("GET", theUrl, true); // true for asynchronous
			xmlHttp.send(null);
		}

	</script>

</body>

</html>